<h2 class="page-header">Recently Added</h2>
<div>
    <% books.forEach(book => { %>
        <a class="btn btn-primary" href="/books/<%= book.id %>">
            <img height="150" width="100" src="<%= book.coverImagePath %> ">
        </a>
        <% }) %>  
</div>