<h2 class="page-header">Edit Author</h2>
<form action="/authors/<%= author.id %> " method="POST">
    <%- include('_form_fields') %> 

    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/authors">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>